<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    
    <link rel="stylesheet" type="text/css" media="screen" href="/FerGymWeb2.0/utils/fontawesome/css/all.css" />
</head>
<body>
	<div class="divHeader">
		<div>
			<img class="logoImage" src="/FerGymWeb2.0/images/logo.png">
		</div>
		<div class="divMenu">
			<a class="menuItem" href="/FerGymWeb2.0/pages/home/home.html">HOME</a>
			<a class="menuItem" href="/FerGymWeb2.0/pages/signUp/signUp.html">CADASTRO</a>
			<a class="menuItem">LOCALIZAÇÃO</a>
			<a class="menuItem">FOTOS</a>
			<a class="menuItem">MODALIDADES</a>
			<a class="menuItem">SOBRE</a>
			<input class="loginButton" type="button" value="LOGIN" onclick="openLogin()">
		</div>
	</div>
	
	<script type="text/javascript">
		function openLogin()
		{
			window.location.href = "/FerGymWeb2.0/pages/login/login.html";
		}
	</script>
</body>
</html>